# registry = https://registry.npmjs.org
registry = https://registry.npmmirror.com

#当遇到版本冲突时，在严格模式下，如果依赖包的 peer dependency 无法满足，安装会失败
strict-peer-dependencies=false
#当启用时，即使没有显式声明，也会自动安装 peer dependencies，简化依赖管理，避免遗漏必要的依赖
auto-install-peers=true
#将所有依赖都放在根目录的 node_modules 中，而不是按层级组织
shamefully-hoist=true
#忽略工作区根目录检查，允许在非工作区根目录执行命令
ignore-workspace-root-check=true
#确保工作区根目录的依赖被正确安装
install-workspace-root=true