@import 'variable';
//全局默认样式
*,
*::before,
*::after {
  box-sizing: border-box;
}

page {
  box-sizing: border-box;
  font-family: system-ui,
  -apple-system,
  'Segoe UI',
  Roboto,
  'Helvetica Neue',
  'Noto Sans',
  'Liberation Sans',
  Arial,
  sans-serif,
  'Apple Color Emoji',
  'Segoe UI Emoji',
  'Segoe UI Symbol',
  'Noto Color Emoji',
  monospace;
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  display: none;
  width: 0 !important;
  height: 0 !important;
  -webkit-appearance: none;
  background: transparent;
}

// 公共类
.page-wrapper {
  min-height: calc(100vh - var(--window-top));
  //background-color: red;
}

.wot-theme-dark.page-wrapper {
  //background: #222;
}
